<h2>Basic Button With Color Atribute</h2>
<div class="btn">
  <button mat-button>mat-btn</button>
  <button mat-raised-button>mat-raised</button>
  <button mat-flat-button>mat-flat</button>
  <button mat-stroked-button>mat-stroked</button>
  <button mat-icon-button>icon</button>
  <button mat-fab>mat-fab</button>
  <button mat-mini-fab>mini</button>
</div>
<h2>Mat-Button With Color Atribute </h2>
<div class="btn">
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
</div>
<h4> Mat-Stroked Button With Color Atribute </h4>
<div class="btn">
  <button mat-stroked-button color="primary">Primary</button>
  <button mat-stroked-button color="accent">Accent</button>
  <button mat-stroked-button color="warn">Warn</button>
</div>
<h4>Mat-raised Button With Color Atribute</h4>
<div class="btn">
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
</div>
<h4>Mat-Flat Button With Color Atribute</h4>
<div class="btn">
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
</div>
<section>
  <h5>Mat-Icon</h5>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
  </div>
</section>


